<app-person-filter
  (filterPersonsList)='FilterPersonsList($event)'
></app-person-filter>

<div class="row mt-2 mb-2 align-items-center border-bottom border-light pb-2" *ngFor="let person of (persons | personFilter: searching)">
  <div class="col-2">{{person.id}}</div>
  <div class="col-6">
    <div class="row">
      <div class="col-4">
        {{person.firstName}}
      </div>
      <div class="col-4">
        {{person.lastName}}
      </div>
      <div class="col-4">
        {{person.tel}}
      </div>
    </div>
  </div>
<div class="col-4">
  <div class="row">
    <div class="col-6">
      <button class="btn"
              [routerLink]="['/edit', person.id]"
      ><img src="../../assets/1.png" alt="" width="20px" height="20px">
      </button>
    </div>
    <div class="col-6">
      <button class="btn"
              (click)="onRemovePerson(person.id)"
      >
      <img src="../../assets/2.png" alt="" width="20px" height="20px">
      </button>
    </div>
  </div>
</div>
</div>
